img
{
    max-height: 150px;
    padding: 2px 2px;
    border-radius: 20px;    
}

button
{
    font-size: 0px;
}

body
{
    background:ghostwhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

div
{
    display: flex;
    justify-content:space-around;
    font-family: fantasy;
    color: #6495ED;
    align-items: center;
    cursor: pointer;    
}

.choiceBtn
{
    display: flex;
    flex-direction: row;
    padding: 1px 1px;
    margin: 0 20px;
    background:#f4e5ae;
    border-radius: 20px;
}

.choiceBtn:hover
{
    background:black;
}

#resultBox,
#firstHeader
{
    color: #6495ED;
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    
}

.selections
{
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}
h1
{
    font-size: 50px;
}